In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Data to Model
# ________________________________________________________________

Text
comes
here
with
a
lot
to
be
said,
however,
not
until
me
and
mr.
gpt
have
sorted
things
out.
This
gives
the
notebook
a
better
look
though.

# ________________________________________________________________

In [4]:
car_data = pd.read_csv("datasets/car_data.csv")
car_data.drop(columns=car_data.columns[0], inplace=True)
car_data.head()

,price,year,manufacturer,fuel,odometer,type,paint_color,lat,long,is_fwd
0,15000,2013,ford,gas,128000.0,truck,black,32.5920,-85.5189,0
1,27990,2012,gmc,gas,68696.0,pickup,black,32.5900,-85.4800,0
2,29990,2016,chevrolet,gas,17302.0,pickup,red,32.5900,-85.4800,0
3,27990,2018,nissan,gas,37332.0,pickup,silver,32.5900,-85.4800,0
4,19900,2004,ford,diesel,88000.0,pickup,blue,32.5475,-85.4682,0

In [5]:
encoded = pd.get_dummies(car_data, columns=['manufacturer', 'fuel', 'type', 'paint_color'])
print("One hot encoding the categorical columns leaves us with", encoded.columns.nunique(), "columns.")
print("These are:\n")
for i in encoded.columns:
    print(i)

One hot encoding the categorical columns leaves us with 74 columns.
These are:

price
year
odometer
lat
long
is_fwd
manufacturer_acura
manufacturer_alfa-romeo
manufacturer_audi
manufacturer_bmw
manufacturer_buick
manufacturer_cadillac
manufacturer_chevrolet
manufacturer_chrysler
manufacturer_dodge
manufacturer_fiat
manufacturer_ford
manufacturer_gmc
manufacturer_harley-davidson
manufacturer_honda
manufacturer_hyundai
manufacturer_infiniti
manufacturer_jaguar
manufacturer_jeep
manufacturer_kia
manufacturer_land rover
manufacturer_lexus
manufacturer_lincoln
manufacturer_mazda
manufacturer_mercedes-benz
manufacturer_mercury
manufacturer_mini
manufacturer_mitsubishi
manufacturer_nissan
manufacturer_pontiac
manufacturer_porsche
manufacturer_ram
manufacturer_rover
manufacturer_saturn
manufacturer_subaru
manufacturer_tesla
manufacturer_toyota
manufacturer_volkswagen
manufacturer_volvo
fuel_diesel
fuel_electric
fuel_gas
fuel_hybrid
fuel_other
type_SUV
type_bus
type_convertible
type_coupe
type_hatchback
type_mini-van
type_offroad
type_other
type_pickup
type_sedan
type_truck
type_van
type_wagon
paint_color_black
paint_color_blue
paint_color_brown
paint_color_custom
paint_color_green
paint_color_grey
paint_color_orange
paint_color_purple
paint_color_red
paint_color_silver
paint_color_white
paint_color_yellow